apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - ecommerce
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)

      - job_name: 'user-service'
        static_configs:
          - targets: ['user-service.ecommerce.svc.cluster.local:80']
        metrics_path: /metrics

      - job_name: 'product-service'
        static_configs:
          - targets: ['product-service.ecommerce.svc.cluster.local:80']
        metrics_path: /metrics

      - job_name: 'cart-service'
        static_configs:
          - targets: ['cart-service.ecommerce.svc.cluster.local:80']
        metrics_path: /metrics

      - job_name: 'payment-service'
        static_configs:
          - targets: ['payment-service.ecommerce.svc.cluster.local:80']
        metrics_path: /metrics

      - job_name: 'order-service'
        static_configs:
          - targets: ['order-service.ecommerce.svc.cluster.local:80']
        metrics_path: /metrics

      - job_name: 'kubernetes-nodes'
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
