all:
  vars:
    ansible_python_interpreter: /usr/bin/python3
    aws_region: us-east-2
    cluster_name: ecommerce-prod
    environment: prod

  children:
    eks_nodes:
      hosts:
        eks-node-1:
          ansible_host: "{{ lookup('env', 'EKS_NODE_1_IP') }}"
        eks-node-2:
          ansible_host: "{{ lookup('env', 'EKS_NODE_2_IP') }}"
      vars:
        ansible_user: ec2-user
        ansible_ssh_private_key_file: ~/.ssh/eks-key.pem

    bastion:
      hosts:
        bastion-host:
          ansible_host: "{{ lookup('env', 'BASTION_IP') }}"
      vars:
        ansible_user: ec2-user
        ansible_ssh_private_key_file: ~/.ssh/bastion-key.pem

    monitoring:
      hosts:
        monitoring-server:
          ansible_host: "{{ lookup('env', 'MONITORING_IP') }}"
      vars:
        ansible_user: ec2-user
