apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
  namespace: ecommerce
  labels:
    app: cart-service
    version: v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cart-service
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: cart-service
        version: v1
    spec:
      serviceAccountName: ecommerce-service-account
      containers:
        - name: cart-service
          image: 866934333672.dkr.ecr.us-east-2.amazonaws.com/cart-service:latest
          ports:
            - containerPort: 3003
          envFrom:
            - configMapRef:
                name: ecommerce-config
          env:
            - name: PORT
              value: "3003"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /health
              port: 3003
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3003
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: cart-service
  namespace: ecommerce
  labels:
    app: cart-service
spec:
  type: ClusterIP
  selector:
    app: cart-service
  ports:
    - port: 80
      targetPort: 3003
      protocol: TCP
